* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #FFF;
  display: grid;
  grid-template-rows: repeat(42, 1fr);
  grid-template-columns: repeat(6, 1fr);
  height: 100%;
  width: 100%;
}

.header {
  background-color: #011827;
  grid-row: 1/3;
  grid-column: 1/7;
}
.header .logo-container {
  display: flex;
  align-items: center;
}
.header .logo-container h1 {
  color: #fff;
  font-size: 1rem;
}
.header .logo-container h1 span {
  display: flex;
  flex-direction: column;
}
.header .logo-container .logo {
  height: 82px;
  width: 128px;
  margin: 20px;
}
.header nav {
  display: none;
}
.header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.header-image {
  grid-row: 3/6;
  grid-column: 1/7;
}
.header-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.button-group {
  grid-row: 6/8;
  grid-column: 1/7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-group button {
  color: #000;
  padding: 0 100px;
  margin: 10px;
  border: 0;
  border-radius: 0.1rem;
  background-color: #8ACFE5;
  height: 4rem;
}
.button-group button:nth-child(2) {
  background-color: white;
  color: #8ACFE5;
}

.review {
  grid-row: 8/10;
  grid-column: 1/7;
  background-color: #FFF;
  display: flex;
  align-items: center;
}
.review img {
  margin: 20px;
  height: 64px;
  width: 64px;
}
.review span,
.review p {
  padding: 10px 20px 0 0;
}

.popular-rooms {
  grid-row: 11/16;
  grid-column: 1/7;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
.popular-rooms h1 {
  position: absolute;
  top: 950px;
  left: 0;
}
.popular-rooms .room {
  min-width: 300px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  height: 350px;
  margin: 0 10px;
}
.popular-rooms .room img {
  height: 150px;
  width: 100%;
  border-radius: 0.3rem;
}
.popular-rooms .room h2 {
  padding-left: 10px;
}
.popular-rooms .room .rating {
  float: left;
  padding-left: 10px;
}
.popular-rooms .room .rating img {
  height: 16px;
  width: 16px;
}
.popular-rooms .room .participants {
  display: flex;
  padding-left: 5rem;
  padding-bottom: 15px;
}
.popular-rooms .room p {
  white-space: normal;
  padding: 10px 15px 0 15px;
}
.popular-rooms .room button {
  color: #fff;
  padding: 0 35px;
  margin: 10px 0 0 128px;
  border: none;
  border-radius: 0.2rem;
  background-color: #ff0000;
  height: 2.2rem;
  cursor: pointer;
}

.button-group-two {
  grid-row: 16/18;
  grid-column: 1/7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-footer {
  grid-row: 18/24;
  grid-column: 1/7;
  background-color: #011827;
  color: #FFF;
  text-align: center;
}
.mini-footer p {
  padding: 60px 30px 10px 30px;
  font-size: 1.4rem;
}
.mini-footer button {
  border: 1px solid #8ACFE5;
  color: #8ACFE5;
  font-size: 1.3rem;
  background-color: transparent;
  cursor: pointer;
}

.collage-image-one {
  grid-row: 24/28;
  grid-column: 1/7;
}
.collage-image-one img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.collage-text-one {
  grid-row: 28/31;
  grid-column: 1/7;
  background-color: #FFF;
  text-align: center;
}
.collage-text-one h2 {
  margin: 20px 0;
}
.collage-text-one p {
  padding: 0 30px;
}
.collage-text-one button {
  color: #fff;
  padding: 0 35px;
  margin: 10px 0;
  border: none;
  border-radius: 0.2rem;
  background-color: #ff0000;
  height: 2.2rem;
  cursor: pointer;
}

.collage-image-two {
  grid-row: 31/36;
  grid-column: 1/7;
}
.collage-image-two img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.collage-text-two {
  grid-row: 35/41;
  grid-column: 1/7;
  background-color: #FFF;
  text-align: center;
}
.collage-text-two h2 {
  margin: 20px 0;
}
.collage-text-two p {
  padding: 0 30px;
}
.collage-text-two button {
  color: #fff;
  padding: 0 35px;
  margin: 10px 0;
  border: none;
  border-radius: 0.2rem;
  background-color: #ff0000;
  height: 2.2rem;
  cursor: pointer;
}

.footer {
  grid-row: 38/43;
  grid-column: 1/7;
  background-color: #011827;
  color: #FFF;
  text-align: center;
}
.footer h2 {
  margin: 20px 0;
}
.footer p {
  padding: 0 30px;
}

/*# sourceMappingURL=style.css.map */
