@mixin button-group {

  button {
    color: #011827;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: large;
    padding: 0 60px;
    margin: 10px;
    border: 0;
    border-radius: 0.2rem;
    background-color: #8ACFE5;
    height: 4rem;

    &:nth-child(2) {
      @media screen and (min-width: 800px) {
        background-color: #E3170A;
        color: #ffffff;
        text-decoration: none;
      }
      background-color: white;
      color: #36769D;
      font-size: 0.9rem;
      text-decoration: underline;
    }
  }
}

@mixin roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin roboto-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.container {
  background-color: #FFF;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 100%;
  width: 100%;
  
}

.header {
  background-color: #011827;
  grid-row: 1 / 2;
  grid-column: 1 / 7;

  .logo-container {
    display: flex;
    align-items: center;

    h1 {
      color: #fff;
      font-size: 1.5rem;
      @include roboto-bold;

      span {
        @media screen and (min-width: 800px) {
          display: inline;
        }
        display: flex;
      }
    }

    .logo {
      height: 100px;
      width: 150px;
      margin: 30px 0 0 30px;
    }
  }

  nav {
    @media screen and (min-width: 800px) {
    display: block;
    }
    display: none;

    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
    }
  }
}

.header-image {
  grid-row: 2 / 6;
  grid-column: 1 / 7;
  position: relative;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.button-group {
  @media screen and (min-width: 800px) {
    flex-direction: row-reverse;
    justify-content: center;
    grid-row: 5 / 7;
    z-index: 10;
    }
  grid-row: 6 / 7;
  grid-column: 1 / 7;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include button-group;
}

.review {
  grid-row: 8 / 10;
  grid-column: 1 / 7;
  background-color: #FFF;
  display: flex;
  align-items: center;

  img {
    float: left;
    margin: 20px;
    height: 64px;
    width: 64px;
  }

  .review-text {
    span {
      @include roboto-regular;
      font-size: 1.3rem;
      padding: 0 25px 0 0;
    }

    p {
      @include roboto-italic;
      padding: 5px 20px 0 0;
      font-size: 1.2rem;

    }
  }
}

h1 {
  grid-row: 10 / 11;
  grid-column: 1 / 7;
  text-align: center;
  font-weight: 200;
  margin: 30px 10px 0 10px;

}

.popular-rooms {
  grid-row: 11 / 15;
  grid-column: 1 / 7;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;

  .room {
    min-width: 300px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
    height: 400px;
    margin: 0 20px;
    border-radius: 0.3rem;

    img {
      height: 180px;
      width: 100%;
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
    }

    h2 {
      @include roboto-regular;
      padding-left: 10px;
    }

    .rating {
      float: left;
      padding-left: 10px;

      img {
        height: 16px;
        width: 16px;
      }
    }

    .participants {
      @include roboto-regular;
      display: flex;
      padding-left: 1rem;
      padding-bottom: 15px;
      font-size: 0.9rem;
    }

    p {
      @include roboto-regular;
      white-space: normal;
      padding: 0px 15px 10px 15px;
    }

    button {
      color: #fff;
      padding: 0 30px;
      margin: 5px 0 0 128px;
      border: none;
      border-radius: 0.2rem;
      background-color: #E3170A;
      height: 2.2rem;
      @include roboto-bold;
      cursor: pointer;
    }
  }
}

.button-group-two {
  @media screen and (min-width: 800px) {
    flex-direction: row-reverse;
    justify-content: center;
    }

  grid-row: 15 / 17;
  grid-column: 1 / 7;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include button-group;
}

.mini-footer {
  grid-row: 17 / 21;
  grid-column: 1 / 7;
  background-color: #011827;
  color: #FFF;
  text-align: center;

  p {
    margin-top: 50px;
    @include roboto-regular;
    padding: 60px 30px 0px 30px;
    font-size: 1.4rem;
  }

  button {
    border: 1px solid #8ACFE5;
    color: #8ACFE5;
    padding: 20px 50px 20px 50px;
    background-color: transparent;
    border-radius: 0.3rem;
    @include roboto-bold;
    font-size: 1.4rem;
    cursor: pointer;
  }
}

.collage-image-one {
  @media screen and (min-width: 800px) {
      grid-row: 21 / 23;
      grid-column: 1 / 4;
    }

  grid-row: 21 / 23;
  grid-column: 1 / 7;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.collage-text-one {
  @media screen and (min-width: 800px) {
    grid-row: 21 / 23;
    grid-column: 4 / 7;
  }

  grid-row: 23 / 26;
  grid-column: 1 / 7;
  background-color: #FFF;
  text-align: center;

  h2 {
    margin: 20px 0;
  }

  p {
    padding: 0 30px;
  }

  button {
    color: #fff;
    padding: 0 35px;
    margin: 10px 0;
    border: none;
    border-radius: 0.2rem;
    background-color: #ff0000;
    height: 2.2rem;
    cursor: pointer;
  }
}

.collage-image-two {
  @media screen and (min-width: 800px) {
    grid-row: 26 / 31;
    grid-column: 4 / 7;
  }

  grid-row: 26 / 31;
  grid-column: 1 / 7;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.collage-text-two {
  @media screen and (min-width: 800px) {
    grid-row: 26 / 31;
    grid-column: 1 / 4;
  }

  grid-row: 33 / 35;
  grid-column: 1 / 7;
  background-color: #FFF;
  text-align: center;

  h2 {
    margin: 20px 0;
  }

  p {
    padding: 0 30px;
  }

  button {
    color: #fff;
    padding: 0 35px;
    margin: 10px 0;
    border: none;
    border-radius: 0.2rem;
    background-color: #ff0000;
    height: 2.2rem;
    cursor: pointer;
  }
}

.footer {
  grid-row: 35 / 36;
  grid-column: 1 / 7;
  background-color: #011827;
  color: #FFF;
  text-align: center;

  h2 {
    margin: 20px 0;
  }

  p {
    padding: 0 30px;
  }
}