@mixin button-group {
    button {
      color: #011827;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.3rem;
      border: 0;
      border-radius: 0.2rem;
      background-color: #8ACFE5;
      height: 4rem;
      width: 19rem;
  
      &:nth-child(2) {
        background-color: white;
        color: #36769D;
        font-size: 1.3rem;
        text-decoration: underline;
  
        @media screen and (min-width: 800px) {
          background-color: #E3170A;
          color: #ffffff;
          text-decoration: none;
          margin-right: 1rem;
        }
      }
    }
  }
  
  @mixin roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @mixin roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  
  @mixin roboto-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }